{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body>
    <div class = "container" style="padding-top:100px;">
            <div class = "row" style=" border: 5px solid black;">
                    <div class="well">
                        <h1 style="color: darkcyan; font-family: monospace; font-style: oblique; font-size: 50px; text-align: center;">Welcome to our Shop</h1>
                    </div>
        {%for profiles in profiles%}
    
    <div class = col-md-6>
            <div >
     
                    <img src="{{profiles.profile_pic.url}}" alt="Image" style="border-radius:50px; width:300px;">
                </div>
              
    </div>
    <div class = col-md-6 >
     <h3 class="row" style="text-shadow: 2px 2px 5px rgb(3, 41, 66); font-style: oblique;"><strong>{{profiles.name}} </strong></h3>
     <div class="row" style="color:rgb(68, 82, 81);">
    <div >
     <h4>{% autoescape on %}
         
            <br >
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Location:</strong> {{profiles.location| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">About US:</strong> {{profiles.about_us| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Phone:</strong> {{profiles.phone| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Email:</strong> {{profiles.email_address| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Days:</strong> {{profiles.days| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Open Hours:</strong> {{profiles.open_hours| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Closing Hours:</strong> {{profiles.closing_hours| safe}}
            <br>
            <br>
            <strong style="font-style: oblique; text-shadow: 2px 2px 5px rgb(3, 41, 66);">Pay Via:</strong>           {{profiles.pay_through| safe}}
            
           {% endautoescape %}
           
            
        </h4>
    </div>
    </div>
   </div>
    

{%endfor%}
        
    </div>  
    </div>
</body>

</html>
{% endblock %}